@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem;
    height: 15vh;
}

.nav-logo {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: .5rem;
}

.nav-link ul,
.nav-narrow ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-link ul a,
.nav-narrow ul a {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.nav-hamburger {
    display: none;
}

.nav-logo:hover {
    cursor: default;
}

.nav-link ul a:hover {
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.nav-narrow {
    display: none;
}

.nav-hamburger .fa-xmark {
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
}

.hero-intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: .5rem;
}


.download {
    color: white;
    background-color: black;
    text-decoration: none;
}

.contact {
    color: black;
    background-color: white;
}

.download:hover {
    color: black;
    background-color: white;
}

.contact:hover {
    color: white;
    background-color: black;
}

.social-links,
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social-links {
    font-size: 1.8rem;
}

.fa-brands {
    color: black;
}


.profile-img {
    border-radius: 50%;
    width: 24rem;
}





@media (max-width: 1200px) {
    /* body {
        max-width: 1200px;
    } */

    .nav-link {
        display: none;
    }

    .nav-narrow {
        display: none;
        height: 100vh;
        width: 100%;
        border: 1px solid red;

    }

    .nav-narrow ul {
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .nav-hamburger {
        display: block;
        font-size: 2rem;

    }


}