@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body,
button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem;
    height: 14.9vh;
}

.nav-logo {
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: .5rem;
}

.nav-link ul,
.nav-narrow ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-link ul a,
.nav-narrow ul a {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.nav-hamburger {
    display: none;
}

.nav-logo:hover {
    cursor: default;
}

.nav-link ul a:hover {
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.nav-narrow {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: white;
}

.nav-hamburger .fa-xmark {
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
}

.hero-intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: .5rem;
}


.download {
    color: white;
    background-color: black;
    text-decoration: none;
}

.contact {
    color: black;
    background-color: white;
}

.download:hover {
    color: black;
    background-color: white;
}

.contact:hover {
    color: white;
    background-color: black;
}

.social-links,
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social-links {
    font-size: 1.8rem;
}

.fa-brands {
    color: black;
}


.profile-img {
    border-radius: 50%;
    width: 24rem;
}

.about-me {
    height: 100vh;
    color: black;
    margin-bottom: 1rem;
}

.section-headers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    text-align: center;
}

.about-section {
    display: flex;
    gap: 1rem;
    /* align-items: center; */
    justify-content: space-evenly;
    height: 85vh;
    padding-inline: 2rem;
}

.about-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem
}

.about-details p {
    text-align: justify;
}

.skill {
    flex: 1;
}

.about-stack {
    display: flex;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.stack-left,
.stack-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stack-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
}

.stack-card .fa-brands {
    font-size: 2rem;
}

.education {
    flex: 1;
    background-color: black;
    border-radius: 3rem 3rem 0 0;
    height: 80vh;
}

.education h2 {
    color: white;
}

.education-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 80vh;
}

.education-card {
    display: flex;
    width: 30%;
    height: 60%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
}


.education-card:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
}

.education-card img {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
}

.contact-me {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.contact-details {
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid white;
    padding: 1rem;
    border-radius: .8rem;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.contact-card .fa-solid {
    font-size: 1.5rem;
}

.contact-details:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

footer {
    background-color: black;
    color: white;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media (max-width: 1280px) {
    body {

        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-narrow {
        display: none;
    }
}


@media (max-width: 1024px) {
    body {

        width: 768px;
        margin-left: auto;
        margin-right: auto;
        font-size: .7rem;
    }

    nav {
        padding-inline: 2rem;
        height: 15vh;
    }

    .nav-link {
        display: none;
    }

    .nav-narrow {
        display: none;
        height: 100vh;
        width: 768px;
    }

    .nav-narrow ul {
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }


    .nav-hamburger {
        display: block;
        font-size: 2rem;

    }

    .profile-img {
        width: 20rem;
    }

    .hero {
        flex-direction: column-reverse;
        height: 85vh;
        gap: 2rem;
    }

    .about-me {

        height: 100vh;
    }

    .about-section {
        flex-direction: column;
    }

    .skill {
        margin-bottom: 2rem;
    }

    .education-container {
        flex-direction: column;
    }

    .education-card {
        flex-direction: row;
        width: 50vh;
        justify-content: left;
    }

    .school {
        text-align: start;
    }


}

@media (max-width: 768px) {
    body {

        width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-narrow {
        width: 640px;
    }

    .hero {

        flex-direction: column-reverse;
    }

    .profile-img {
        width: 20rem;
    }

    /* .about-me {
        border: 1px solid red;
    } */

}

@media (max-width: 640px) {
    body {

        width: 576px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-narrow {
        width: 576px;
    }

    .nav-narrow ul {
        font-size: 1.5rem;
    }

    .about-me {
        margin-bottom: 2rem;
    }

    .about-stack {
        padding: 2rem;
    }
}

@media (max-width: 576px) {
    body {

        width: 475px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-narrow {
        width: 475px;
    }

    .card {
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
    }
}

@media (max-width: 475px) {
    body {
        width: 475px;
        font-size: .65rem;
    }

    .nav-narrow {
        width: 475px;
    }

    nav {
        height: 15vh;
    }

    .hero {
        height: 85vh;
        padding-block: 2rem;
        gap: 2rem;
        justify-content: start;
    }

    .profile-img {
        width: 18rem;
    }

    .about-me {
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .section-headers {
        height: 10vh;
    }


    .about-details,
    .skill {
        flex: 0;
    }


    .about-stack {
        /* flex-direction: column; */

        gap: .5rem;
        width: 100%;
    }

    .education-card {
        width: 80%;
    }

    .education {
        border-radius: 3rem 3rem 0 0;
        height: 85vh;
    }

    .education-container {
        height: 50%;
        margin-top: 4rem;
    }

    .contact-me {
        height: 50vh;
    }

    .contact-details {
        width: 100%;
    }

    footer {

        height: 10vh;
    }

}

@media (max-width: 400px) {
    body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: .6rem;
    }

    .nav-narrow {
        width: 100%;
    }

    .nav-narrow ul {
        font-size: 1.5rem;
    }

    .contact-details {
        width: 95%;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: .5rem;
    }
}